/*  your css code here. If applicable */
body {
    font-family: Arial, sans-serif;
	width: 1100px;
}

.content-wrapper {
    width: 1100px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.imageContainer {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
}

.first-column, .last-column {
    width: 200px;
}

.middle-column {
    width: 600px;
}